<a href="https://colab.research.google.com/github/vvrgit/AI/blob/main/MultipleLinearRegression_AI_Track_Libraries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [126]:
import numpy as np
import pandas as pd

In [127]:
housing = pd.read_csv("/content/drive/MyDrive/AI Data/Housing.csv")
housing.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [128]:
# Checking for null values
print(housing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB
None

In [129]:
# Checking for outliers
print(housing.describe())

              price          area  ...     stories     parking
count  5.450000e+02    545.000000  ...  545.000000  545.000000
mean   4.766729e+06   5150.541284  ...    1.805505    0.693578
std    1.870440e+06   2170.141023  ...    0.867492    0.861586
min    1.750000e+06   1650.000000  ...    1.000000    0.000000
25%    3.430000e+06   3600.000000  ...    1.000000    0.000000
50%    4.340000e+06   4600.000000  ...    2.000000    0.000000
75%    5.740000e+06   6360.000000  ...    2.000000    1.000000
max    1.330000e+07  16200.000000  ...    4.000000    3.000000

[8 rows x 6 columns]

In [130]:
# Converting the categorical variable into numerical
varlist =  ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']

# Defining the map function
def binary_map(x):
    return x.map({'yes': 1, "no": 0})

# Applying the function to the housing list
housing[varlist] = housing[varlist].apply(binary_map)

# Check the housing dataframe now
housing

        price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0    13300000  7420         4  ...        2         1         furnished
1    12250000  8960         4  ...        3         0         furnished
2    12250000  9960         3  ...        2         1    semi-furnished
3    12215000  7500         4  ...        3         1         furnished
4    11410000  7420         4  ...        2         0         furnished
..        ...   ...       ...  ...      ...       ...               ...
540   1820000  3000         2  ...        2         0       unfurnished
541   1767150  2400         3  ...        0         0    semi-furnished
542   1750000  3620         2  ...        0         0       unfurnished
543   1750000  2910         3  ...        0         0         furnished
544   1750000  3850         3  ...        0         0       unfurnished

[545 rows x 13 columns]

In [131]:
# Dropping the first column from status dataset
status = pd.get_dummies(housing['furnishingstatus'], drop_first = True)

# Adding the status to the original housing dataframe
housing = pd.concat([housing, status], axis = 1)

# Dropping 'furnishingstatus' as we have created the dummies for it
housing.drop(['furnishingstatus'], axis = 1, inplace = True)

housing

        price  area  bedrooms  ...  prefarea  semi-furnished  unfurnished
0    13300000  7420         4  ...         1               0            0
1    12250000  8960         4  ...         0               0            0
2    12250000  9960         3  ...         1               1            0
3    12215000  7500         4  ...         1               0            0
4    11410000  7420         4  ...         0               0            0
..        ...   ...       ...  ...       ...             ...          ...
540   1820000  3000         2  ...         0               0            1
541   1767150  2400         3  ...         0               1            0
542   1750000  3620         2  ...         0               0            1
543   1750000  2910         3  ...         0               0            0
544   1750000  3850         3  ...         0               0            1

[545 rows x 14 columns]

In [132]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(housing, train_size = 0.7, test_size = 0.3, random_state = 100)

In [133]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Applying scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['area', 'bedrooms', 'bathrooms', 'stories', 'parking','price']
df_train[num_vars] = scaler.fit_transform(df_train[num_vars])

df_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

        price      area  bedrooms  ...  prefarea  semi-furnished  unfurnished
359  0.169697  0.155227       0.4  ...         0               0            1
19   0.615152  0.403379       0.4  ...         1               1            0
159  0.321212  0.115628       0.4  ...         0               0            0
35   0.548133  0.454417       0.4  ...         0               0            0
28   0.575758  0.538015       0.8  ...         0               0            1
..        ...       ...       ...  ...       ...             ...          ...
526  0.048485  0.118268       0.2  ...         0               0            1
53   0.484848  0.291623       0.4  ...         0               1            0
350  0.175758  0.139388       0.2  ...         0               1            0
79   0.424242  0.366420       0.4  ...         0               0            0
520  0.060606  0.516015       0.2  ...         0               0            1

[381 rows x 14 columns]

In [134]:
# Dividing the training data set into X and Y
y_train = df_train.pop('price')
X_train = df_train
y_test = df_test.pop('price')
X_test = df_test

In [135]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [136]:
m = regressor.coef_
c = regressor.intercept_,
print("Estimated model weights, m:" , m)
print("Estimated model intercept, c:" , c)

Estimated model weights, m: [ 0.23466354  0.04673453  0.19082319  0.10851563  0.05044144  0.03042826
  0.02159488  0.08486327  0.06688093  0.06073533  0.05942788  0.00092052
 -0.03100561]
Estimated model intercept, c: (0.020032842296381415,)

In [137]:
y_pred_test =  regressor.predict(X_test)
y_pred_train =  regressor.predict(X_train)

In [138]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.08883172264231516
Mean square error 0.007891074947601207
Mean absolute error 0.06529126611986574

In [139]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 5182097.037368842
Mean square error 26854129704706.938
Mean absolute error 4788458.25701208

In [141]:
list_of_columns = housing.columns
input_data=pd.DataFrame(columns=list_of_columns)
input_data.drop(['price'], axis='columns', inplace=True)

input_data.at[0, 'area'] = int(input('enter area'))
input_data.at[0, 'bedrooms'] = int(input('enter bedrooms'))
input_data.at[0, 'bathrooms'] = int(input('enter bathrooms'))
input_data.at[0, 'stories'] = int(input('enter stories'))
input_data.at[0, 'mainroad'] = input('enter mainroad')
input_data.at[0, 'guestroom'] = input('enter guestroom')
input_data.at[0, 'basement'] = input('enter basement')
input_data.at[0, 'hotwaterheating'] = input('enter hotwaterheating')
input_data.at[0, 'airconditioning'] = input('enter airconditioning')
input_data.at[0, 'parking'] = int(input('enter parking'))
input_data.at[0, 'prefarea'] = input('enter prefarea')

# semi-furnished furnished unfurnished
input_data.at[0, 'semi-furnished'] = input('enter furnishingstatus')
input_data.at[0, 'unfurnished'] = input('enter furnishingstatus')


# Converting the categorical variable into numerical
varlist =  ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea','semi-furnished','unfurnished']

# Defining the map function
def binary_map(x):
    return x.map({'yes': 1, "no": 0})

# Applying the function to the housing list
input_data[varlist] = input_data[varlist].apply(binary_map)


input_data['area']=(input_data['area']-housing['area'].min())/(housing['area'].max()-housing['area'].min())
input_data['bedrooms']=(input_data['bedrooms']-housing['bedrooms'].min())/(housing['bedrooms'].max()-housing['bedrooms'].min())
input_data['bathrooms']=(input_data['bathrooms']-housing['bathrooms'].min())/(housing['bathrooms'].max()-housing['bathrooms'].min())
input_data['stories']=(input_data['stories']-housing['stories'].min())/(housing['stories'].max()-housing['stories'].min())
input_data['parking']=(input_data['parking']-housing['parking'].min())/(housing['parking'].max()-housing['parking'].min())

y_pred =  regressor.predict(input_data)
price=y_pred*(housing['price'].max()-housing['price'].min())+housing['price'].min()
print('Predicted House Price=',price)

enter area1200
enter bedrooms6
enter bathrooms6
enter stories2
enter mainroadyes
enter guestroomyes
enter basementno
enter hotwaterheatingno
enter airconditioningno
enter parking2
enter prefareayes
enter furnishingstatusno
enter furnishingstatusyes
Predicted House Price= [8258453.31619192]

## Thank you