<a href="https://colab.research.google.com/github/vvrgit/AI/blob/main/ZCP_dataset_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# importing libraries  
import numpy as nm  
import matplotlib.pyplot as mtp  
import pandas as pd

In [8]:
col_names = ['slope', 'Intercept', 'R', 'RMSE', 'label']
# load dataset
dataset03 = pd.read_csv("/content/drive/MyDrive/ZCPproject/zcp-dataset-03.csv")
dataset03.head()

        slope  Intercept         R      RMSE  label
0  337.128894  -0.002214  0.968472  0.043742      1
1  323.062826   0.004972  0.962622  0.043808      0
2  311.507400   0.012306  0.958087  0.043810      0
3  314.830099   0.013583  0.956277  0.047846      0
4  320.932363   0.009328  0.955930  0.051622      0

#Data Split#

In [9]:
#split dataset in features and target variable
feature_cols = ['slope', 'Intercept', 'R', 'RMSE']
X = dataset03[feature_cols] # Features
y = dataset03.label # Target variable

In [10]:
# Split dataset into training set and test set
from sklearn.model_selection import train_test_split # Import train_test_split function
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

#Randon Forest Training#

#n_estimators= 2, criterion="gini"#

In [27]:
#Fitting Decision Tree classifier to the training set  
from sklearn.ensemble import RandomForestClassifier  
classifier= RandomForestClassifier(n_estimators= 2, criterion="gini")  #criterion="entropy"
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=2)

In [28]:
#Predicting the test set result  
y_pred= classifier.predict(X_test)

In [29]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)
cm

array([[258,   3],
       [  7,  31]])

In [30]:
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9665551839464883